/* Criando estilo global no HTML com variáveis em CSS*/

body {
  margin: 0px;
  transition: backgrund 2s;
  font-family: 'Mukta', sans-serif;

  background: #ffffff;
  color: #303030;
}

.caixa1 {
  padding-top: 15px;
  padding-bottom: 40px;
  text-align: center;
  background-image: url(./img/background.png);
  background-size: cover;
}

.menu {
  text-align: right;
  padding-right: 40px;
  background-image: url("./img/logo.png");
  background-repeat: no-repeat;
  background-position: 20px 0px;
  height: 80px;
}

.caixa2 {
  background: #2457ff;
}

.container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding-bottom: 50px;
}

.caixa3 {
  text-align: center;
  padding-bottom: 20px;
}
.caixa3 img{
  padding: 10px;
}

h1 {
  text-align: center;
  font-size: 48px;
}

p, h3, h4 {
  text-align: center;
}

.foto {
  height: 150px;
  border-radius: 100px;
}

.linkmenu {
  text-decoration: none;
  margin-left: 20px;
}

.linkmenu:hover {
  color: #2457ff;
}

.habilidade {
  background: white;
  width: 300px;
  border-radius: 30px;
  margin-left: 50px;
  margin-right: 50px;
  text-align: center;
  padding-top: 40px;
  padding-bottom: 40px;
  padding-right: 10px;
  padding-left: 10px;
}

.titulohabilidades {
  margin: 0px;
  text-align: center;
  padding-top: 60px;
  padding-bottom: 40px;
}

.titulocontato {
  margin: 0px;
  text-align: center;
  padding: 20px;
}
.outroscontatos {
  padding-top: 20px;
}

@media (max-width: 600px) {
  .menu {
    display: none;
  }
  html {
    background-image: url("./img/logo.png");
    background-repeat: no-repeat;
    background-position: 10px 10px;
  }

  .habilidade {
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 30px;
  }
}
